[[bin]]
bench = false
name = "nu_plugin_explore"

[dependencies]
anyhow = "1.0.73"
console = "0.15.7"
crossterm = "0.27.0"
ratatui = "0.22.0"

[dependencies.nu-plugin]
path = ""
version = "0.83.2"

[dependencies.nu-protocol]
features = ["plugin"]
path = ""
version = "0.83.2"

[lib]
bench = false

[package]
edition = "2021"
name = "nu_plugin_explore"
version = "0.83.2"
