[[bin]]
bench = false
name = "nu_plugin_explore"

[dependencies]
anyhow = "1.0.73"
console = "0.15.7"
crossterm = "0.27.0"
nu-plugin = "0.89.0"
nu-protocol = { version = "0.89.0", features = ["plugin"] }
ratatui = "0.22.0"
url = "2.4.0"

[lib]
bench = false

[package]
edition = "2021"
name = "nu_plugin_explore"
version = "0.1.2"
