[[bin]]
bench = false
name = "nu_plugin_explore"

[dependencies]
anyhow = "1.0.73"
console = "0.15.7"
crossterm = "0.27.0"
nu-plugin = { version = "0.83.1" }
nu-protocol = { version = "0.83.1", features = ["plugin"] }
ratatui = "0.22.0"

[lib]
bench = false

[package]
edition = "2021"
name = "nu_plugin_explore"
version = "0.83.2"
