on:
  pull_request:
  push:
    branches:
      - main

name: continuous-integration

env:
  CLIPPY_OPTIONS: "-D warnings"
  NU_VERSION: "0.83.1"

jobs:
  fmt-clippy:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.5.0
        with:
          rustflags: ""

      - name: Format
        run: cargo fmt --all -- --check

      - name: Setup dependencies
        run: |
          cargo add "nu-plugin@$NU_VERSION"
          cargo add "nu-protocol@$NU_VERSION" --features plugin

      - name: Clippy
        run: cargo clippy --workspace -- $CLIPPY_OPTIONS

  tests:
    strategy:
      fail-fast: true
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.5.0
        with:
          rustflags: ""

      - name: Setup dependencies
        run: |
          cargo add "nu-plugin@$NU_VERSION"
          cargo add "nu-protocol@$NU_VERSION" --features plugin

      - name: Tests
        run: cargo test --workspace
